# Objetivo do projeto
Compreender as áreas de menor cobertura da empresa com o intuito de direcionar os esforços de expansão de cobertura.

In [ ]:
!pip install plotly_express
!pip install pycountry-convert
!pip install geopandas
!pip install geopy

In [ ]:
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import plotly_express as px
from pycountry_convert import country_alpha2_to_continent_code, country_name_to_country_alpha2
import numpy as np
from geopy.geocoders import Nominatim

In [ ]:
# Lendo o dataset 
df = pd.read_excel('/content/drive/MyDrive/deals-14902126-85.xlsx')

In [ ]:
# Verificando as primeiras 5 linhas
df.head()

,Deal - Title,Deal - Organisation,Deal - Deal created,Deal - Value,Deal - Owner,Deal - Industry,Deal - Methodology,Deal - Location,Deal - Sample,Deal - Research Type,Deal - Category,Deal - LOI (in minutes),Deal - Lost reason,Deal - Lost time,Deal - Stage
0,IRB - IDIs with HCPs in US,IRB,2022-05-04 09:56:02,0,Amon Martins,Healthcare,IDI,United States of America,15.0,Qualitative,NaN,NaN,Falta de cobertura,2022-05-05 15:23:06,Project Received
1,PMR0811 | Smart,Philomath Research,2022-01-26 00:00:00,0,Rafaela Freitas,B2B,CAWI,United States of America,600.0,Quantitative,NaN,NaN,Falta de cobertura,2022-05-05 11:33:46,Proposal Made
2,Sample for Postal Measurement Panel - Netherlands,Kantar,2022-04-04 00:00:00,0,Rafaela Freitas,B2C,CAWI,Netherlands,318.0,Quantitative,NaN,NaN,Falta de cobertura,2022-05-05 11:36:33,Project Received
3,AIRBUS EMPLOYEES RFQ,IRB,2022-04-18 00:00:00,0,Rafaela Freitas,B2B,IDI,"France, Italy, United Kingdom, United States o...",105.0,Qualitative,NaN,NaN,Falta de cobertura,2022-05-05 11:37:19,Project Received
4,Multi-country study in Middle East qual,IRB,2022-04-27 00:00:00,0,Walter Tapias,B2C,IDI,"Saudi Arabia, United Arab Emirates, Qatar, Kuwait",0.0,Qualitative,NaN,NaN,Falta de cobertura,2022-05-05 13:28:58,Project Received

In [ ]:
# Verificando as últimas 5 linhas
df.tail()

,Deal - Title,Deal - Organisation,Deal - Deal created,Deal - Value,Deal - Owner,Deal - Industry,Deal - Methodology,Deal - Location,Deal - Sample,Deal - Research Type,Deal - Category,Deal - LOI (in minutes),Deal - Lost reason,Deal - Lost time,Deal - Stage
110,Sermo RfQ - Acromegaly ATU - Colombia,Sermo,2022-12-15 08:47:13,0,Kevin Bezerra,Healthcare,CAWI,Colombia,40.0,Quantitative,NaN,30.0,Falta de cobertura,2022-12-16 09:11:48,Project Received
111,Food Store Managers,Focus Insite,2022-12-16 11:53:47,0,Amon Martins,B2B,CATI,"Canada, United States of America",100.0,Quantitative,NaN,10.0,Falta de cobertura,2022-12-16 11:54:06,Project Received
112,BA151: Pricing Request: Skin Care Request: Sma...,Borderless Access,2022-12-21 08:59:32,0,Lamoni Queiroz,B2C,FGD,Mexico,6.0,Qualitative,NaN,120.0,Falta de cobertura,2022-12-23 09:59:48,Qualified
113,P22-66060,Market xcel,2022-12-22 08:12:10,51000,Lamoni Queiroz,B2C,"Diary Study, CAWI",United States of America,300.0,Quantitative,NaN,15.0,Falta de cobertura,2022-12-23 10:01:16,Proposal Made
114,22-2026 Market Consumption US,Focus Insite,2022-12-22 15:20:01,0,Amon Martins,B2C,CAWI,United States of America,500.0,Quantitative,NaN,NaN,Falta de cobertura,2022-12-22 15:20:24,Project Received

In [ ]:
# Extraindo informações básicas do dataframe

df['Deal - Industry'] = df['Deal - Industry'].fillna(0)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115 entries, 0 to 114
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Deal - Title             115 non-null    object
 1   Deal - Organisation      115 non-null    object
 2   Deal - Deal created      115 non-null    object
 3   Deal - Value             115 non-null    int64
 4   Deal - Owner             115 non-null    object
 5   Deal - Industry          115 non-null    object
 6   Deal - Methodology       97 non-null     object
 7   Deal - Location          93 non-null     object
 8   Deal - Sample            90 non-null     float64
 9   Deal - Research Type     95 non-null     object
 10  Deal - Category          7 non-null      object
 11  Deal - LOI (in minutes)  54 non-null     float64
 12  Deal - Lost reason       115 non-null    object
 13  Deal - Lost time         115 non-null    object
 14  Deal - Stage             115 non-null    object
dtypes: float64(2), int64(1), object(12)
memory usage: 13.6+ KB

In [ ]:
# Separando os valores de "Deal - Location" para contar quantos projetos foram perdidos em cada país individualmente.

new_df = df.set_index(['Deal - Title', 'Deal - Organisation', 'Deal - Methodology', 'Deal - Sample', 'Deal - Industry', 'Deal - Value', 'Deal - Research Type'])['Deal - Location'].str.split(', ', expand=True).stack().reset_index().rename(columns={0: 'Deal - Location'})

# Agrupando e explorando quantidade de projetos perdidos por localidade

In [ ]:
# Agrupando e contando o número de projetos perdidos em cada país.

grouped = new_df.groupby('Deal - Location')['Deal - Title'].count().reset_index()

grouped

             Deal - Location  Deal - Title
0                  Argentina             1
1                  Australia             7
2                 Azerbaijan             2
3                    Bahamas             2
4                    Belgium             1
5                     Belice             1
6                     Brazil             5
7                     Canada             6
8                      Chile             2
9                      China             6
10                  Colombia             1
11                Costa Rica             1
12        Dominican Republic             1
13                     Egypt             2
14                   England             1
15                    France            12
16                   Georgia             1
17                   Germany             9
18                 Guatemala             1
19                    Guyana             1
20                 Hong Kong             1
21                     India             6
22                 Indonesia             4
23                   Ireland             1
24                     Italy             6
25                   Jamaica             3
26                     Japan             5
27                    Kuwait             1
28                Luxembourg             2
29                  Malaysia             1
30                    Mexico             3
31               Netherlands             3
32               New Zealand             2
33                   Nigeria             1
34               Philippines             3
35                    Poland             1
36                Porto Rico             2
37                  Portugal             1
38               Puerto Rico             1
39                     Qatar             1
40                    Russia             1
41              Saudi Arabia             1
42                 Singapore             2
43              South Africa             1
44               South Korea             2
45                     Spain             6
46                    Sweden             1
47                  Thailand             2
48       Trinidad and Tobago             3
49      United Arab Emirates             2
50            United Kingdom             9
51  United States of America            45
52                Uzbekistan             3
53                   Vietnam             3

In [ ]:
# Colocando em ordem de mais projetos perdidos para menos

gro_sor = grouped.sort_values('Deal - Title', ascending=False)
gro_sor

             Deal - Location  Deal - Title
51  United States of America            45
15                    France            12
17                   Germany             9
50            United Kingdom             9
1                  Australia             7
24                     Italy             6
9                      China             6
45                     Spain             6
7                     Canada             6
21                     India             6
6                     Brazil             5
26                     Japan             5
22                 Indonesia             4
30                    Mexico             3
25                   Jamaica             3
31               Netherlands             3
34               Philippines             3
53                   Vietnam             3
52                Uzbekistan             3
48       Trinidad and Tobago             3
8                      Chile             2
44               South Korea             2
2                 Azerbaijan             2
32               New Zealand             2
3                    Bahamas             2
28                Luxembourg             2
36                Porto Rico             2
49      United Arab Emirates             2
13                     Egypt             2
42                 Singapore             2
47                  Thailand             2
41              Saudi Arabia             1
46                    Sweden             1
40                    Russia             1
43              South Africa             1
39                     Qatar             1
38               Puerto Rico             1
0                  Argentina             1
37                  Portugal             1
35                    Poland             1
33                   Nigeria             1
29                  Malaysia             1
23                   Ireland             1
20                 Hong Kong             1
19                    Guyana             1
18                 Guatemala             1
16                   Georgia             1
14                   England             1
12        Dominican Republic             1
11                Costa Rica             1
10                  Colombia             1
5                     Belice             1
4                    Belgium             1
27                    Kuwait             1

# Indústrias

## B2C

In [ ]:
# Filtrando projetos perdidos de acordo com a indústria

df_b2c = new_df[new_df['Deal - Industry'].str.contains("B2C", na=False)]
df_b2c

,Deal - Title,Deal - Organisation,Deal - Methodology,Deal - Sample,Deal - Industry,Deal - Value,Deal - Research Type,level_7,Deal - Location
2,Sample for Postal Measurement Panel - Netherlands,Kantar,CAWI,318.0,B2C,0,Quantitative,0,Netherlands
7,Multi-country study in Middle East qual,IRB,IDI,0.0,B2C,0,Qualitative,0,Saudi Arabia
8,Multi-country study in Middle East qual,IRB,IDI,0.0,B2C,0,Qualitative,1,United Arab Emirates
9,Multi-country study in Middle East qual,IRB,IDI,0.0,B2C,0,Qualitative,2,Qatar
10,Multi-country study in Middle East qual,IRB,IDI,0.0,B2C,0,Qualitative,3,Kuwait
...,...,...,...,...,...,...,...,...,...
184,P22-65826,Market xcel,OBB,150.0,B2C,0,Qualitative,0,United States of America
185,Fwd: [Partner] Demande de Feas-devis/ Projet N...,Bilendi,CAWI,3300.0,B2C,0,Quantitative,0,Luxembourg
189,BA151: Pricing Request: Skin Care Request: Sma...,Borderless Access,FGD,6.0,B2C,0,Qualitative,0,Mexico
190,P22-66060,Market xcel,"Diary Study, CAWI",300.0,B2C,51000,Quantitative,0,United States of America
191,22-2026 Market Consumption US,Focus Insite,CAWI,500.0,B2C,0,Quantitative,0,United States of America

In [ ]:
# Agrupando 

grouped_df_b2c = df_b2c.groupby('Deal - Location')['Deal - Title'].count().reset_index()
grouped_df_b2c.rename(columns={"Deal - Title": "Industry - B2C"}, inplace=True)
grouped_df_b2c

             Deal - Location  Industry - B2C
0                  Argentina               1
1                  Australia               2
2                 Azerbaijan               2
3                    Bahamas               2
4                     Belice               1
5                     Brazil               3
6                     Canada               2
7                      Chile               1
8                      China               3
9                      Egypt               1
10                    France               3
11                   Georgia               1
12                   Germany               1
13                 Guatemala               1
14                    Guyana               1
15                     India               4
16                 Indonesia               1
17                     Italy               1
18                   Jamaica               3
19                     Japan               2
20                    Kuwait               1
21                Luxembourg               2
22                    Mexico               2
23               Netherlands               1
24               New Zealand               1
25                   Nigeria               1
26                    Poland               1
27                Porto Rico               2
28                  Portugal               1
29                     Qatar               1
30                    Russia               1
31              Saudi Arabia               1
32               South Korea               2
33                     Spain               2
34                    Sweden               1
35                  Thailand               1
36       Trinidad and Tobago               2
37      United Arab Emirates               2
38            United Kingdom               2
39  United States of America              21
40                Uzbekistan               3
41                   Vietnam               1

In [ ]:
# Fazendo o merge com o DF agrupado pelo número de projetos perdidos

b2c = pd.merge(grouped, grouped_df_b2c,on='Deal - Location',how='left')
b2c

             Deal - Location  Deal - Title  Industry - B2C
0                  Argentina             1             1.0
1                  Australia             7             2.0
2                 Azerbaijan             2             2.0
3                    Bahamas             2             2.0
4                    Belgium             1             NaN
5                     Belice             1             1.0
6                     Brazil             5             3.0
7                     Canada             6             2.0
8                      Chile             2             1.0
9                      China             6             3.0
10                  Colombia             1             NaN
11                Costa Rica             1             NaN
12        Dominican Republic             1             NaN
13                     Egypt             2             1.0
14                   England             1             NaN
15                    France            12             3.0
16                   Georgia             1             1.0
17                   Germany             9             1.0
18                 Guatemala             1             1.0
19                    Guyana             1             1.0
20                 Hong Kong             1             NaN
21                     India             6             4.0
22                 Indonesia             4             1.0
23                   Ireland             1             NaN
24                     Italy             6             1.0
25                   Jamaica             3             3.0
26                     Japan             5             2.0
27                    Kuwait             1             1.0
28                Luxembourg             2             2.0
29                  Malaysia             1             NaN
30                    Mexico             3             2.0
31               Netherlands             3             1.0
32               New Zealand             2             1.0
33                   Nigeria             1             1.0
34               Philippines             3             NaN
35                    Poland             1             1.0
36                Porto Rico             2             2.0
37                  Portugal             1             1.0
38               Puerto Rico             1             NaN
39                     Qatar             1             1.0
40                    Russia             1             1.0
41              Saudi Arabia             1             1.0
42                 Singapore             2             NaN
43              South Africa             1             NaN
44               South Korea             2             2.0
45                     Spain             6             2.0
46                    Sweden             1             1.0
47                  Thailand             2             1.0
48       Trinidad and Tobago             3             2.0
49      United Arab Emirates             2             2.0
50            United Kingdom             9             2.0
51  United States of America            45            21.0
52                Uzbekistan             3             3.0
53                   Vietnam             3             1.0

## B2B

In [ ]:
# Filtrando por indústria B2B

df_b2b = new_df[new_df['Deal - Industry'].str.contains("B2B", na=False)]

In [ ]:
# Agrupando por localização

grouped_df_b2b = df_b2b.groupby('Deal - Location')['Deal - Title'].count().reset_index()
grouped_df_b2b.rename(columns={"Deal - Title": "Industry - B2B"}, inplace=True)
grouped_df_b2b

             Deal - Location  Industry - B2B
0                  Australia               4
1                    Belgium               1
2                     Brazil               1
3                     Canada               3
4                      Chile               1
5                      China               1
6                 Costa Rica               1
7                      Egypt               1
8                     France               5
9                    Germany               3
10                     India               2
11                 Indonesia               1
12                     Italy               2
13                  Malaysia               1
14                    Mexico               1
15               Netherlands               1
16               New Zealand               1
17               Philippines               1
18                 Singapore               1
19              South Africa               1
20                     Spain               2
21                  Thailand               2
22            United Kingdom               2
23  United States of America              14
24                   Vietnam               1

In [ ]:
all = pd.merge(grouped_df_b2c, grouped_df_b2b,on='Deal - Location',how='left')
all

             Deal - Location  Industry - B2C  Industry - B2B
0                  Argentina               1             NaN
1                  Australia               2             4.0
2                 Azerbaijan               2             NaN
3                    Bahamas               2             NaN
4                     Belice               1             NaN
5                     Brazil               3             1.0
6                     Canada               2             3.0
7                      Chile               1             1.0
8                      China               3             1.0
9                      Egypt               1             1.0
10                    France               3             5.0
11                   Georgia               1             NaN
12                   Germany               1             3.0
13                 Guatemala               1             NaN
14                    Guyana               1             NaN
15                     India               4             2.0
16                 Indonesia               1             1.0
17                     Italy               1             2.0
18                   Jamaica               3             NaN
19                     Japan               2             NaN
20                    Kuwait               1             NaN
21                Luxembourg               2             NaN
22                    Mexico               2             1.0
23               Netherlands               1             1.0
24               New Zealand               1             1.0
25                   Nigeria               1             NaN
26                    Poland               1             NaN
27                Porto Rico               2             NaN
28                  Portugal               1             NaN
29                     Qatar               1             NaN
30                    Russia               1             NaN
31              Saudi Arabia               1             NaN
32               South Korea               2             NaN
33                     Spain               2             2.0
34                    Sweden               1             NaN
35                  Thailand               1             2.0
36       Trinidad and Tobago               2             NaN
37      United Arab Emirates               2             NaN
38            United Kingdom               2             2.0
39  United States of America              21            14.0
40                Uzbekistan               3             NaN
41                   Vietnam               1             1.0

In [ ]:
all_2 = pd.merge(grouped, all,on='Deal - Location',how='left')
all_2

             Deal - Location  Deal - Title  Industry - B2C  Industry - B2B
0                  Argentina             1             1.0             NaN
1                  Australia             7             2.0             4.0
2                 Azerbaijan             2             2.0             NaN
3                    Bahamas             2             2.0             NaN
4                    Belgium             1             NaN             NaN
5                     Belice             1             1.0             NaN
6                     Brazil             5             3.0             1.0
7                     Canada             6             2.0             3.0
8                      Chile             2             1.0             1.0
9                      China             6             3.0             1.0
10                  Colombia             1             NaN             NaN
11                Costa Rica             1             NaN             NaN
12        Dominican Republic             1             NaN             NaN
13                     Egypt             2             1.0             1.0
14                   England             1             NaN             NaN
15                    France            12             3.0             5.0
16                   Georgia             1             1.0             NaN
17                   Germany             9             1.0             3.0
18                 Guatemala             1             1.0             NaN
19                    Guyana             1             1.0             NaN
20                 Hong Kong             1             NaN             NaN
21                     India             6             4.0             2.0
22                 Indonesia             4             1.0             1.0
23                   Ireland             1             NaN             NaN
24                     Italy             6             1.0             2.0
25                   Jamaica             3             3.0             NaN
26                     Japan             5             2.0             NaN
27                    Kuwait             1             1.0             NaN
28                Luxembourg             2             2.0             NaN
29                  Malaysia             1             NaN             NaN
30                    Mexico             3             2.0             1.0
31               Netherlands             3             1.0             1.0
32               New Zealand             2             1.0             1.0
33                   Nigeria             1             1.0             NaN
34               Philippines             3             NaN             NaN
35                    Poland             1             1.0             NaN
36                Porto Rico             2             2.0             NaN
37                  Portugal             1             1.0             NaN
38               Puerto Rico             1             NaN             NaN
39                     Qatar             1             1.0             NaN
40                    Russia             1             1.0             NaN
41              Saudi Arabia             1             1.0             NaN
42                 Singapore             2             NaN             NaN
43              South Africa             1             NaN             NaN
44               South Korea             2             2.0             NaN
45                     Spain             6             2.0             2.0
46                    Sweden             1             1.0             NaN
47                  Thailand             2             1.0             2.0
48       Trinidad and Tobago             3             2.0             NaN
49      United Arab Emirates             2             2.0             NaN
50            United Kingdom             9             2.0             2.0
51  United States of America            45            21.0            14.0
52                Uzbekistan             3             3.0             NaN
53                   Vietnam             3             1.0             1.0

## Healthcare

In [ ]:
def filtro(termo):
  ds = new_df[new_df['Deal - Industry'].str.contains(termo, na=False)]
  ds = ds.groupby('Deal - Location')['Deal - Title'].count().reset_index()
  ds.rename(columns={"Deal - Title": termo}, inplace=True)

  
  return ds

In [ ]:
health = filtro('Healthcare') 
health

             Deal - Location  Healthcare
0                  Australia           1
1                     Canada           1
2                      China           2
3                   Colombia           1
4         Dominican Republic           1
5                    England           1
6                     France           3
7                    Germany           4
8                      India           1
9                  Indonesia           1
10                   Ireland           1
11                     Italy           3
12                     Japan           2
13               Netherlands           1
14               New Zealand           1
15               Philippines           2
16               Puerto Rico           1
17                 Singapore           1
18                     Spain           1
19       Trinidad and Tobago           1
20            United Kingdom           5
21  United States of America          11
22                   Vietnam           1

In [ ]:
all_3 = pd.merge(all_2, health,on='Deal - Location',how='left')
all_3

,Deal - Location,Deal - Title,Industry - B2C,Industry - B2B,Healthcare
0,Argentina,1,1.0,NaN,NaN
1,Australia,7,2.0,4.0,1.0
2,Azerbaijan,2,2.0,NaN,NaN
3,Bahamas,2,2.0,NaN,NaN
4,Belgium,1,NaN,NaN,NaN
5,Belice,1,1.0,NaN,NaN
6,Brazil,5,3.0,1.0,NaN
7,Canada,6,2.0,3.0,1.0
8,Chile,2,1.0,1.0,NaN
9,China,6,3.0,1.0,2.0
10,Colombia,1,NaN,NaN,1.0
11,Costa Rica,1,NaN,NaN,NaN
12,Dominican Republic,1,NaN,NaN,1.0
13,Egypt,2,1.0,1.0,NaN
14,England,1,NaN,NaN,1.0
15,France,12,3.0,5.0,3.0
16,Georgia,1,1.0,NaN,NaN
17,Germany,9,1.0,3.0,4.0
18,Guatemala,1,1.0,NaN,NaN
19,Guyana,1,1.0,NaN,NaN
20,Hong Kong,1,NaN,NaN,NaN
21,India,6,4.0,2.0,1.0
22,Indonesia,4,1.0,1.0,1.0
23,Ireland,1,NaN,NaN,1.0
24,Italy,6,1.0,2.0,3.0
25,Jamaica,3,3.0,NaN,NaN
26,Japan,5,2.0,NaN,2.0
27,Kuwait,1,1.0,NaN,NaN
28,Luxembourg,2,2.0,NaN,NaN
29,Malaysia,1,NaN,NaN,NaN
30,Mexico,3,2.0,1.0,NaN
31,Netherlands,3,1.0,1.0,1.0
32,New Zealand,2,1.0,1.0,1.0
33,Nigeria,1,1.0,NaN,NaN
34,Philippines,3,NaN,NaN,2.0
35,Poland,1,1.0,NaN,NaN
36,Porto Rico,2,2.0,NaN,NaN
37,Portugal,1,1.0,NaN,NaN
38,Puerto Rico,1,NaN,NaN,1.0
39,Qatar,1,1.0,NaN,NaN
40,Russia,1,1.0,NaN,NaN
41,Saudi Arabia,1,1.0,NaN,NaN
42,Singapore,2,NaN,NaN,1.0
43,South Africa,1,NaN,NaN,NaN
44,South Korea,2,2.0,NaN,NaN
45,Spain,6,2.0,2.0,1.0
46,Sweden,1,1.0,NaN,NaN
47,Thailand,2,1.0,2.0,NaN
48,Trinidad and Tobago,3,2.0,NaN,1.0
49,United Arab Emirates,2,2.0,NaN,NaN
50,United Kingdom,9,2.0,2.0,5.0
51,United States of America,45,21.0,14.0,11.0
52,Uzbekistan,3,3.0,NaN,NaN
53,Vietnam,3,1.0,1.0,1.0

## Artificial Intelligence

In [ ]:
ai = filtro('Artificial Intelligence')
ai

            Deal - Location  Artificial Intelligence
0                 Australia                        1
1                     China                        1
2                    France                        1
3                   Germany                        1
4                 Hong Kong                        1
5                     India                        1
6                     Japan                        1
7                     Spain                        1
8  United States of America                        1

In [ ]:
all_4 = pd.merge(all_3, ai,on='Deal - Location',how='left')
all_4

,Deal - Location,Deal - Title,Industry - B2C,Industry - B2B,Healthcare,Artificial Intelligence
0,Argentina,1,1.0,NaN,NaN,NaN
1,Australia,7,2.0,4.0,1.0,1.0
2,Azerbaijan,2,2.0,NaN,NaN,NaN
3,Bahamas,2,2.0,NaN,NaN,NaN
4,Belgium,1,NaN,NaN,NaN,NaN
5,Belice,1,1.0,NaN,NaN,NaN
6,Brazil,5,3.0,1.0,NaN,NaN
7,Canada,6,2.0,3.0,1.0,NaN
8,Chile,2,1.0,1.0,NaN,NaN
9,China,6,3.0,1.0,2.0,1.0
10,Colombia,1,NaN,NaN,1.0,NaN
11,Costa Rica,1,NaN,NaN,NaN,NaN
12,Dominican Republic,1,NaN,NaN,1.0,NaN
13,Egypt,2,1.0,1.0,NaN,NaN
14,England,1,NaN,NaN,1.0,NaN
15,France,12,3.0,5.0,3.0,1.0
16,Georgia,1,1.0,NaN,NaN,NaN
17,Germany,9,1.0,3.0,4.0,1.0
18,Guatemala,1,1.0,NaN,NaN,NaN
19,Guyana,1,1.0,NaN,NaN,NaN
20,Hong Kong,1,NaN,NaN,NaN,1.0
21,India,6,4.0,2.0,1.0,1.0
22,Indonesia,4,1.0,1.0,1.0,NaN
23,Ireland,1,NaN,NaN,1.0,NaN
24,Italy,6,1.0,2.0,3.0,NaN
25,Jamaica,3,3.0,NaN,NaN,NaN
26,Japan,5,2.0,NaN,2.0,1.0
27,Kuwait,1,1.0,NaN,NaN,NaN
28,Luxembourg,2,2.0,NaN,NaN,NaN
29,Malaysia,1,NaN,NaN,NaN,NaN
30,Mexico,3,2.0,1.0,NaN,NaN
31,Netherlands,3,1.0,1.0,1.0,NaN
32,New Zealand,2,1.0,1.0,1.0,NaN
33,Nigeria,1,1.0,NaN,NaN,NaN
34,Philippines,3,NaN,NaN,2.0,NaN
35,Poland,1,1.0,NaN,NaN,NaN
36,Porto Rico,2,2.0,NaN,NaN,NaN
37,Portugal,1,1.0,NaN,NaN,NaN
38,Puerto Rico,1,NaN,NaN,1.0,NaN
39,Qatar,1,1.0,NaN,NaN,NaN
40,Russia,1,1.0,NaN,NaN,NaN
41,Saudi Arabia,1,1.0,NaN,NaN,NaN
42,Singapore,2,NaN,NaN,1.0,NaN
43,South Africa,1,NaN,NaN,NaN,NaN
44,South Korea,2,2.0,NaN,NaN,NaN
45,Spain,6,2.0,2.0,1.0,1.0
46,Sweden,1,1.0,NaN,NaN,NaN
47,Thailand,2,1.0,2.0,NaN,NaN
48,Trinidad and Tobago,3,2.0,NaN,1.0,NaN
49,United Arab Emirates,2,2.0,NaN,NaN,NaN
50,United Kingdom,9,2.0,2.0,5.0,NaN
51,United States of America,45,21.0,14.0,11.0,1.0
52,Uzbekistan,3,3.0,NaN,NaN,NaN
53,Vietnam,3,1.0,1.0,1.0,NaN

## B2B, B2C

In [ ]:
bb = filtro('B2B, B2C')
bb

            Deal - Location  B2B, B2C
0                 Australia         1
1                     China         1
2                     India         2
3               New Zealand         1
4                  Thailand         1
5  United States of America         2

In [ ]:
all_5 = pd.merge(all_4, bb,on='Deal - Location',how='left')
all_5

,Deal - Location,Deal - Title,Industry - B2C,Industry - B2B,Healthcare,Artificial Intelligence,"B2B, B2C"
0,Argentina,1,1.0,NaN,NaN,NaN,NaN
1,Australia,7,2.0,4.0,1.0,1.0,1.0
2,Azerbaijan,2,2.0,NaN,NaN,NaN,NaN
3,Bahamas,2,2.0,NaN,NaN,NaN,NaN
4,Belgium,1,NaN,NaN,NaN,NaN,NaN
5,Belice,1,1.0,NaN,NaN,NaN,NaN
6,Brazil,5,3.0,1.0,NaN,NaN,NaN
7,Canada,6,2.0,3.0,1.0,NaN,NaN
8,Chile,2,1.0,1.0,NaN,NaN,NaN
9,China,6,3.0,1.0,2.0,1.0,1.0
10,Colombia,1,NaN,NaN,1.0,NaN,NaN
11,Costa Rica,1,NaN,NaN,NaN,NaN,NaN
12,Dominican Republic,1,NaN,NaN,1.0,NaN,NaN
13,Egypt,2,1.0,1.0,NaN,NaN,NaN
14,England,1,NaN,NaN,1.0,NaN,NaN
15,France,12,3.0,5.0,3.0,1.0,NaN
16,Georgia,1,1.0,NaN,NaN,NaN,NaN
17,Germany,9,1.0,3.0,4.0,1.0,NaN
18,Guatemala,1,1.0,NaN,NaN,NaN,NaN
19,Guyana,1,1.0,NaN,NaN,NaN,NaN
20,Hong Kong,1,NaN,NaN,NaN,1.0,NaN
21,India,6,4.0,2.0,1.0,1.0,2.0
22,Indonesia,4,1.0,1.0,1.0,NaN,NaN
23,Ireland,1,NaN,NaN,1.0,NaN,NaN
24,Italy,6,1.0,2.0,3.0,NaN,NaN
25,Jamaica,3,3.0,NaN,NaN,NaN,NaN
26,Japan,5,2.0,NaN,2.0,1.0,NaN
27,Kuwait,1,1.0,NaN,NaN,NaN,NaN
28,Luxembourg,2,2.0,NaN,NaN,NaN,NaN
29,Malaysia,1,NaN,NaN,NaN,NaN,NaN
30,Mexico,3,2.0,1.0,NaN,NaN,NaN
31,Netherlands,3,1.0,1.0,1.0,NaN,NaN
32,New Zealand,2,1.0,1.0,1.0,NaN,1.0
33,Nigeria,1,1.0,NaN,NaN,NaN,NaN
34,Philippines,3,NaN,NaN,2.0,NaN,NaN
35,Poland,1,1.0,NaN,NaN,NaN,NaN
36,Porto Rico,2,2.0,NaN,NaN,NaN,NaN
37,Portugal,1,1.0,NaN,NaN,NaN,NaN
38,Puerto Rico,1,NaN,NaN,1.0,NaN,NaN
39,Qatar,1,1.0,NaN,NaN,NaN,NaN
40,Russia,1,1.0,NaN,NaN,NaN,NaN
41,Saudi Arabia,1,1.0,NaN,NaN,NaN,NaN
42,Singapore,2,NaN,NaN,1.0,NaN,NaN
43,South Africa,1,NaN,NaN,NaN,NaN,NaN
44,South Korea,2,2.0,NaN,NaN,NaN,NaN
45,Spain,6,2.0,2.0,1.0,1.0,NaN
46,Sweden,1,1.0,NaN,NaN,NaN,NaN
47,Thailand,2,1.0,2.0,NaN,NaN,1.0
48,Trinidad and Tobago,3,2.0,NaN,1.0,NaN,NaN
49,United Arab Emirates,2,2.0,NaN,NaN,NaN,NaN
50,United Kingdom,9,2.0,2.0,5.0,NaN,NaN
51,United States of America,45,21.0,14.0,11.0,1.0,2.0
52,Uzbekistan,3,3.0,NaN,NaN,NaN,NaN
53,Vietnam,3,1.0,1.0,1.0,NaN,NaN

## Testing/Package Goods

In [ ]:
testing = filtro('Testing/Package Goods')
testing

  Deal - Location  Testing/Package Goods
0       Indonesia                      1

In [ ]:
all_6 = pd.merge(all_5, testing,on='Deal - Location',how='left')
all_6

,Deal - Location,Deal - Title,Industry - B2C,Industry - B2B,Healthcare,Artificial Intelligence,"B2B, B2C",Testing/Package Goods
0,Argentina,1,1.0,NaN,NaN,NaN,NaN,NaN
1,Australia,7,2.0,4.0,1.0,1.0,1.0,NaN
2,Azerbaijan,2,2.0,NaN,NaN,NaN,NaN,NaN
3,Bahamas,2,2.0,NaN,NaN,NaN,NaN,NaN
4,Belgium,1,NaN,NaN,NaN,NaN,NaN,NaN
5,Belice,1,1.0,NaN,NaN,NaN,NaN,NaN
6,Brazil,5,3.0,1.0,NaN,NaN,NaN,NaN
7,Canada,6,2.0,3.0,1.0,NaN,NaN,NaN
8,Chile,2,1.0,1.0,NaN,NaN,NaN,NaN
9,China,6,3.0,1.0,2.0,1.0,1.0,NaN
10,Colombia,1,NaN,NaN,1.0,NaN,NaN,NaN
11,Costa Rica,1,NaN,NaN,NaN,NaN,NaN,NaN
12,Dominican Republic,1,NaN,NaN,1.0,NaN,NaN,NaN
13,Egypt,2,1.0,1.0,NaN,NaN,NaN,NaN
14,England,1,NaN,NaN,1.0,NaN,NaN,NaN
15,France,12,3.0,5.0,3.0,1.0,NaN,NaN
16,Georgia,1,1.0,NaN,NaN,NaN,NaN,NaN
17,Germany,9,1.0,3.0,4.0,1.0,NaN,NaN
18,Guatemala,1,1.0,NaN,NaN,NaN,NaN,NaN
19,Guyana,1,1.0,NaN,NaN,NaN,NaN,NaN
20,Hong Kong,1,NaN,NaN,NaN,1.0,NaN,NaN
21,India,6,4.0,2.0,1.0,1.0,2.0,NaN
22,Indonesia,4,1.0,1.0,1.0,NaN,NaN,1.0
23,Ireland,1,NaN,NaN,1.0,NaN,NaN,NaN
24,Italy,6,1.0,2.0,3.0,NaN,NaN,NaN
25,Jamaica,3,3.0,NaN,NaN,NaN,NaN,NaN
26,Japan,5,2.0,NaN,2.0,1.0,NaN,NaN
27,Kuwait,1,1.0,NaN,NaN,NaN,NaN,NaN
28,Luxembourg,2,2.0,NaN,NaN,NaN,NaN,NaN
29,Malaysia,1,NaN,NaN,NaN,NaN,NaN,NaN
30,Mexico,3,2.0,1.0,NaN,NaN,NaN,NaN
31,Netherlands,3,1.0,1.0,1.0,NaN,NaN,NaN
32,New Zealand,2,1.0,1.0,1.0,NaN,1.0,NaN
33,Nigeria,1,1.0,NaN,NaN,NaN,NaN,NaN
34,Philippines,3,NaN,NaN,2.0,NaN,NaN,NaN
35,Poland,1,1.0,NaN,NaN,NaN,NaN,NaN
36,Porto Rico,2,2.0,NaN,NaN,NaN,NaN,NaN
37,Portugal,1,1.0,NaN,NaN,NaN,NaN,NaN
38,Puerto Rico,1,NaN,NaN,1.0,NaN,NaN,NaN
39,Qatar,1,1.0,NaN,NaN,NaN,NaN,NaN
40,Russia,1,1.0,NaN,NaN,NaN,NaN,NaN
41,Saudi Arabia,1,1.0,NaN,NaN,NaN,NaN,NaN
42,Singapore,2,NaN,NaN,1.0,NaN,NaN,NaN
43,South Africa,1,NaN,NaN,NaN,NaN,NaN,NaN
44,South Korea,2,2.0,NaN,NaN,NaN,NaN,NaN
45,Spain,6,2.0,2.0,1.0,1.0,NaN,NaN
46,Sweden,1,1.0,NaN,NaN,NaN,NaN,NaN
47,Thailand,2,1.0,2.0,NaN,NaN,1.0,NaN
48,Trinidad and Tobago,3,2.0,NaN,1.0,NaN,NaN,NaN
49,United Arab Emirates,2,2.0,NaN,NaN,NaN,NaN,NaN
50,United Kingdom,9,2.0,2.0,5.0,NaN,NaN,NaN
51,United States of America,45,21.0,14.0,11.0,1.0,2.0,NaN
52,Uzbekistan,3,3.0,NaN,NaN,NaN,NaN,NaN
53,Vietnam,3,1.0,1.0,1.0,NaN,NaN,NaN

# Tipo de Pesquisa

## Quants

In [ ]:
def filtro_tipo(termo):
  ds = new_df[new_df['Deal - Research Type'].str.contains(termo, na=False)]
  ds = ds.groupby('Deal - Location')['Deal - Title'].count().reset_index()
  ds.rename(columns={"Deal - Title": termo}, inplace=True)

  
  return ds

In [ ]:
quant = filtro_tipo('Quantitative')
quant

             Deal - Location  Quantitative
0                  Australia             2
1                 Azerbaijan             2
2                    Bahamas             2
3                     Belice             1
4                     Brazil             2
5                     Canada             2
6                      Chile             1
7                      China             1
8                   Colombia             1
9                 Costa Rica             1
10                   England             1
11                    France             4
12                   Georgia             1
13                   Germany             3
14                    Guyana             1
15                 Hong Kong             1
16                     India             4
17                 Indonesia             2
18                     Italy             1
19                   Jamaica             3
20                     Japan             1
21                Luxembourg             2
22                  Malaysia             1
23                    Mexico             1
24               Netherlands             2
25               New Zealand             1
26                   Nigeria             1
27               Philippines             2
28                Porto Rico             1
29                    Russia             1
30                 Singapore             1
31                     Spain             1
32                  Thailand             2
33       Trinidad and Tobago             2
34            United Kingdom             1
35  United States of America            14
36                Uzbekistan             3
37                   Vietnam             2

In [ ]:
all_7 = pd.merge(all_6, quant,on='Deal - Location',how='left')
all_7

,Deal - Location,Deal - Title,Industry - B2C,Industry - B2B,Healthcare,Artificial Intelligence,"B2B, B2C",Testing/Package Goods,Quantitative
0,Argentina,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN
1,Australia,7,2.0,4.0,1.0,1.0,1.0,NaN,2.0
2,Azerbaijan,2,2.0,NaN,NaN,NaN,NaN,NaN,2.0
3,Bahamas,2,2.0,NaN,NaN,NaN,NaN,NaN,2.0
4,Belgium,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Belice,1,1.0,NaN,NaN,NaN,NaN,NaN,1.0
6,Brazil,5,3.0,1.0,NaN,NaN,NaN,NaN,2.0
7,Canada,6,2.0,3.0,1.0,NaN,NaN,NaN,2.0
8,Chile,2,1.0,1.0,NaN,NaN,NaN,NaN,1.0
9,China,6,3.0,1.0,2.0,1.0,1.0,NaN,1.0
10,Colombia,1,NaN,NaN,1.0,NaN,NaN,NaN,1.0
11,Costa Rica,1,NaN,NaN,NaN,NaN,NaN,NaN,1.0
12,Dominican Republic,1,NaN,NaN,1.0,NaN,NaN,NaN,NaN
13,Egypt,2,1.0,1.0,NaN,NaN,NaN,NaN,NaN
14,England,1,NaN,NaN,1.0,NaN,NaN,NaN,1.0
15,France,12,3.0,5.0,3.0,1.0,NaN,NaN,4.0
16,Georgia,1,1.0,NaN,NaN,NaN,NaN,NaN,1.0
17,Germany,9,1.0,3.0,4.0,1.0,NaN,NaN,3.0
18,Guatemala,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN
19,Guyana,1,1.0,NaN,NaN,NaN,NaN,NaN,1.0
20,Hong Kong,1,NaN,NaN,NaN,1.0,NaN,NaN,1.0
21,India,6,4.0,2.0,1.0,1.0,2.0,NaN,4.0
22,Indonesia,4,1.0,1.0,1.0,NaN,NaN,1.0,2.0
23,Ireland,1,NaN,NaN,1.0,NaN,NaN,NaN,NaN
24,Italy,6,1.0,2.0,3.0,NaN,NaN,NaN,1.0
25,Jamaica,3,3.0,NaN,NaN,NaN,NaN,NaN,3.0
26,Japan,5,2.0,NaN,2.0,1.0,NaN,NaN,1.0
27,Kuwait,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN
28,Luxembourg,2,2.0,NaN,NaN,NaN,NaN,NaN,2.0
29,Malaysia,1,NaN,NaN,NaN,NaN,NaN,NaN,1.0
30,Mexico,3,2.0,1.0,NaN,NaN,NaN,NaN,1.0
31,Netherlands,3,1.0,1.0,1.0,NaN,NaN,NaN,2.0
32,New Zealand,2,1.0,1.0,1.0,NaN,1.0,NaN,1.0
33,Nigeria,1,1.0,NaN,NaN,NaN,NaN,NaN,1.0
34,Philippines,3,NaN,NaN,2.0,NaN,NaN,NaN,2.0
35,Poland,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN
36,Porto Rico,2,2.0,NaN,NaN,NaN,NaN,NaN,1.0
37,Portugal,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN
38,Puerto Rico,1,NaN,NaN,1.0,NaN,NaN,NaN,NaN
39,Qatar,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN
40,Russia,1,1.0,NaN,NaN,NaN,NaN,NaN,1.0
41,Saudi Arabia,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN
42,Singapore,2,NaN,NaN,1.0,NaN,NaN,NaN,1.0
43,South Africa,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,South Korea,2,2.0,NaN,NaN,NaN,NaN,NaN,NaN
45,Spain,6,2.0,2.0,1.0,1.0,NaN,NaN,1.0
46,Sweden,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN
47,Thailand,2,1.0,2.0,NaN,NaN,1.0,NaN,2.0
48,Trinidad and Tobago,3,2.0,NaN,1.0,NaN,NaN,NaN,2.0
49,United Arab Emirates,2,2.0,NaN,NaN,NaN,NaN,NaN,NaN
50,United Kingdom,9,2.0,2.0,5.0,NaN,NaN,NaN,1.0
51,United States of America,45,21.0,14.0,11.0,1.0,2.0,NaN,14.0
52,Uzbekistan,3,3.0,NaN,NaN,NaN,NaN,NaN,3.0
53,Vietnam,3,1.0,1.0,1.0,NaN,NaN,NaN,2.0

## Quals

In [ ]:
qual = filtro_tipo('Qualitative')
qual

             Deal - Location  Qualitative
0                  Argentina            1
1                  Australia            5
2                    Belgium            1
3                     Brazil            3
4                     Canada            3
5                      Chile            1
6                      China            5
7         Dominican Republic            1
8                      Egypt            2
9                     France            8
10                   Germany            6
11                 Guatemala            1
12                     India            4
13                 Indonesia            2
14                   Ireland            1
15                     Italy            5
16                   Jamaica            1
17                     Japan            4
18                    Kuwait            1
19                    Mexico            2
20               Netherlands            1
21               New Zealand            2
22                   Nigeria            1
23               Philippines            1
24                    Poland            1
25                Porto Rico            1
26                  Portugal            1
27               Puerto Rico            1
28                     Qatar            1
29              Saudi Arabia            1
30                 Singapore            1
31              South Africa            1
32               South Korea            2
33                     Spain            5
34                    Sweden            1
35                  Thailand            1
36       Trinidad and Tobago            1
37      United Arab Emirates            2
38            United Kingdom            8
39  United States of America           31
40                   Vietnam            1

In [ ]:
all_8 = pd.merge(all_7, qual,on='Deal - Location',how='left')
all_8

,Deal - Location,Deal - Title,Industry - B2C,Industry - B2B,Healthcare,Artificial Intelligence,"B2B, B2C",Testing/Package Goods,Quantitative,Qualitative
0,Argentina,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0
1,Australia,7,2.0,4.0,1.0,1.0,1.0,NaN,2.0,5.0
2,Azerbaijan,2,2.0,NaN,NaN,NaN,NaN,NaN,2.0,NaN
3,Bahamas,2,2.0,NaN,NaN,NaN,NaN,NaN,2.0,NaN
4,Belgium,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
5,Belice,1,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN
6,Brazil,5,3.0,1.0,NaN,NaN,NaN,NaN,2.0,3.0
7,Canada,6,2.0,3.0,1.0,NaN,NaN,NaN,2.0,3.0
8,Chile,2,1.0,1.0,NaN,NaN,NaN,NaN,1.0,1.0
9,China,6,3.0,1.0,2.0,1.0,1.0,NaN,1.0,5.0
10,Colombia,1,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN
11,Costa Rica,1,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
12,Dominican Republic,1,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1.0
13,Egypt,2,1.0,1.0,NaN,NaN,NaN,NaN,NaN,2.0
14,England,1,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN
15,France,12,3.0,5.0,3.0,1.0,NaN,NaN,4.0,8.0
16,Georgia,1,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN
17,Germany,9,1.0,3.0,4.0,1.0,NaN,NaN,3.0,6.0
18,Guatemala,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0
19,Guyana,1,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN
20,Hong Kong,1,NaN,NaN,NaN,1.0,NaN,NaN,1.0,NaN
21,India,6,4.0,2.0,1.0,1.0,2.0,NaN,4.0,4.0
22,Indonesia,4,1.0,1.0,1.0,NaN,NaN,1.0,2.0,2.0
23,Ireland,1,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1.0
24,Italy,6,1.0,2.0,3.0,NaN,NaN,NaN,1.0,5.0
25,Jamaica,3,3.0,NaN,NaN,NaN,NaN,NaN,3.0,1.0
26,Japan,5,2.0,NaN,2.0,1.0,NaN,NaN,1.0,4.0
27,Kuwait,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0
28,Luxembourg,2,2.0,NaN,NaN,NaN,NaN,NaN,2.0,NaN
29,Malaysia,1,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
30,Mexico,3,2.0,1.0,NaN,NaN,NaN,NaN,1.0,2.0
31,Netherlands,3,1.0,1.0,1.0,NaN,NaN,NaN,2.0,1.0
32,New Zealand,2,1.0,1.0,1.0,NaN,1.0,NaN,1.0,2.0
33,Nigeria,1,1.0,NaN,NaN,NaN,NaN,NaN,1.0,1.0
34,Philippines,3,NaN,NaN,2.0,NaN,NaN,NaN,2.0,1.0
35,Poland,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0
36,Porto Rico,2,2.0,NaN,NaN,NaN,NaN,NaN,1.0,1.0
37,Portugal,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0
38,Puerto Rico,1,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1.0
39,Qatar,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0
40,Russia,1,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN
41,Saudi Arabia,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0
42,Singapore,2,NaN,NaN,1.0,NaN,NaN,NaN,1.0,1.0
43,South Africa,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
44,South Korea,2,2.0,NaN,NaN,NaN,NaN,NaN,NaN,2.0
45,Spain,6,2.0,2.0,1.0,1.0,NaN,NaN,1.0,5.0
46,Sweden,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0
47,Thailand,2,1.0,2.0,NaN,NaN,1.0,NaN,2.0,1.0
48,Trinidad and Tobago,3,2.0,NaN,1.0,NaN,NaN,NaN,2.0,1.0
49,United Arab Emirates,2,2.0,NaN,NaN,NaN,NaN,NaN,NaN,2.0
50,United Kingdom,9,2.0,2.0,5.0,NaN,NaN,NaN,1.0,8.0
51,United States of America,45,21.0,14.0,11.0,1.0,2.0,NaN,14.0,31.0
52,Uzbekistan,3,3.0,NaN,NaN,NaN,NaN,NaN,3.0,NaN
53,Vietnam,3,1.0,1.0,1.0,NaN,NaN,NaN,2.0,1.0

# Gráficos

In [ ]:
all_8.rename(columns={"Deal - Title": "Projetos_Perdidos"},inplace=True)
all_8.rename(columns={"Industry - B2C": "B2C"},inplace=True)
all_8.rename(columns={"Industry - B2B": "B2B"},inplace=True)

In [ ]:
all_8.fillna(0, inplace = True)
all_8

,Deal - Location,Projetos_Perdidos,B2C,B2B,Healthcare,Artificial Intelligence,"B2B, B2C",Testing/Package Goods,Quantitative,Qualitative
0,Argentina,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,Australia,7,2.0,4.0,1.0,1.0,1.0,0.0,2.0,5.0
2,Azerbaijan,2,2.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0
3,Bahamas,2,2.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0
4,Belgium,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
5,Belice,1,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
6,Brazil,5,3.0,1.0,0.0,0.0,0.0,0.0,2.0,3.0
7,Canada,6,2.0,3.0,1.0,0.0,0.0,0.0,2.0,3.0
8,Chile,2,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0
9,China,6,3.0,1.0,2.0,1.0,1.0,0.0,1.0,5.0
10,Colombia,1,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
11,Costa Rica,1,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
12,Dominican Republic,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
13,Egypt,2,1.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0
14,England,1,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
15,France,12,3.0,5.0,3.0,1.0,0.0,0.0,4.0,8.0
16,Georgia,1,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
17,Germany,9,1.0,3.0,4.0,1.0,0.0,0.0,3.0,6.0
18,Guatemala,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
19,Guyana,1,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
20,Hong Kong,1,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
21,India,6,4.0,2.0,1.0,1.0,2.0,0.0,4.0,4.0
22,Indonesia,4,1.0,1.0,1.0,0.0,0.0,1.0,2.0,2.0
23,Ireland,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
24,Italy,6,1.0,2.0,3.0,0.0,0.0,0.0,1.0,5.0
25,Jamaica,3,3.0,0.0,0.0,0.0,0.0,0.0,3.0,1.0
26,Japan,5,2.0,0.0,2.0,1.0,0.0,0.0,1.0,4.0
27,Kuwait,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
28,Luxembourg,2,2.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0
29,Malaysia,1,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
30,Mexico,3,2.0,1.0,0.0,0.0,0.0,0.0,1.0,2.0
31,Netherlands,3,1.0,1.0,1.0,0.0,0.0,0.0,2.0,1.0
32,New Zealand,2,1.0,1.0,1.0,0.0,1.0,0.0,1.0,2.0
33,Nigeria,1,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
34,Philippines,3,0.0,0.0,2.0,0.0,0.0,0.0,2.0,1.0
35,Poland,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
36,Porto Rico,2,2.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
37,Portugal,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
38,Puerto Rico,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
39,Qatar,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
40,Russia,1,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
41,Saudi Arabia,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
42,Singapore,2,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0
43,South Africa,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
44,South Korea,2,2.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
45,Spain,6,2.0,2.0,1.0,1.0,0.0,0.0,1.0,5.0
46,Sweden,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
47,Thailand,2,1.0,2.0,0.0,0.0,1.0,0.0,2.0,1.0
48,Trinidad and Tobago,3,2.0,0.0,1.0,0.0,0.0,0.0,2.0,1.0
49,United Arab Emirates,2,2.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
50,United Kingdom,9,2.0,2.0,5.0,0.0,0.0,0.0,1.0,8.0
51,United States of America,45,21.0,14.0,11.0,1.0,2.0,0.0,14.0,31.0
52,Uzbekistan,3,3.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0
53,Vietnam,3,1.0,1.0,1.0,0.0,0.0,0.0,2.0,1.0

In [ ]:
def inteirar(termo):
  all_8[termo] = all_8[termo].astype('int')

  return all_8

In [ ]:
inteirar('B2C')
inteirar('B2B')
inteirar('Healthcare')
inteirar('Artificial Intelligence')
inteirar('B2B, B2C')
inteirar('Testing/Package Goods')
inteirar('Quantitative')
inteirar('Qualitative')

,Deal - Location,Projetos_Perdidos,B2C,B2B,Healthcare,Artificial Intelligence,"B2B, B2C",Testing/Package Goods,Quantitative,Qualitative
0,Argentina,1,1,0,0,0,0,0,0,1
1,Australia,7,2,4,1,1,1,0,2,5
2,Azerbaijan,2,2,0,0,0,0,0,2,0
3,Bahamas,2,2,0,0,0,0,0,2,0
4,Belgium,1,0,0,0,0,0,0,0,1
5,Belice,1,1,0,0,0,0,0,1,0
6,Brazil,5,3,1,0,0,0,0,2,3
7,Canada,6,2,3,1,0,0,0,2,3
8,Chile,2,1,1,0,0,0,0,1,1
9,China,6,3,1,2,1,1,0,1,5
10,Colombia,1,0,0,1,0,0,0,1,0
11,Costa Rica,1,0,0,0,0,0,0,1,0
12,Dominican Republic,1,0,0,1,0,0,0,0,1
13,Egypt,2,1,1,0,0,0,0,0,2
14,England,1,0,0,1,0,0,0,1,0
15,France,12,3,5,3,1,0,0,4,8
16,Georgia,1,1,0,0,0,0,0,1,0
17,Germany,9,1,3,4,1,0,0,3,6
18,Guatemala,1,1,0,0,0,0,0,0,1
19,Guyana,1,1,0,0,0,0,0,1,0
20,Hong Kong,1,0,0,0,1,0,0,1,0
21,India,6,4,2,1,1,2,0,4,4
22,Indonesia,4,1,1,1,0,0,1,2,2
23,Ireland,1,0,0,1,0,0,0,0,1
24,Italy,6,1,2,3,0,0,0,1,5
25,Jamaica,3,3,0,0,0,0,0,3,1
26,Japan,5,2,0,2,1,0,0,1,4
27,Kuwait,1,1,0,0,0,0,0,0,1
28,Luxembourg,2,2,0,0,0,0,0,2,0
29,Malaysia,1,0,0,0,0,0,0,1,0
30,Mexico,3,2,1,0,0,0,0,1,2
31,Netherlands,3,1,1,1,0,0,0,2,1
32,New Zealand,2,1,1,1,0,1,0,1,2
33,Nigeria,1,1,0,0,0,0,0,1,1
34,Philippines,3,0,0,2,0,0,0,2,1
35,Poland,1,1,0,0,0,0,0,0,1
36,Porto Rico,2,2,0,0,0,0,0,1,1
37,Portugal,1,1,0,0,0,0,0,0,1
38,Puerto Rico,1,0,0,1,0,0,0,0,1
39,Qatar,1,1,0,0,0,0,0,0,1
40,Russia,1,1,0,0,0,0,0,1,0
41,Saudi Arabia,1,1,0,0,0,0,0,0,1
42,Singapore,2,0,0,1,0,0,0,1,1
43,South Africa,1,0,0,0,0,0,0,0,1
44,South Korea,2,2,0,0,0,0,0,0,2
45,Spain,6,2,2,1,1,0,0,1,5
46,Sweden,1,1,0,0,0,0,0,0,1
47,Thailand,2,1,2,0,0,1,0,2,1
48,Trinidad and Tobago,3,2,0,1,0,0,0,2,1
49,United Arab Emirates,2,2,0,0,0,0,0,0,2
50,United Kingdom,9,2,2,5,0,0,0,1,8
51,United States of America,45,21,14,11,1,2,0,14,31
52,Uzbekistan,3,3,0,0,0,0,0,3,0
53,Vietnam,3,1,1,1,0,0,0,2,1

In [ ]:
# Identificando latitude e longitude de cada localização para plotar no gráfico do mapa.

geolocator = Nominatim(user_agent="geoapiExercises")

def get_lat_long(location):
  location = geolocator.geocode(location)
  return location.latitude, location.longitude

all_8['latitude'], all_8['longitude'] = zip(*all_8['Deal - Location'].apply(get_lat_long))
all_8

,Deal - Location,Projetos_Perdidos,B2C,B2B,Healthcare,Artificial Intelligence,"B2B, B2C",Testing/Package Goods,Quantitative,Qualitative,latitude,longitude
0,Argentina,1,1,0,0,0,0,0,0,1,-34.996496,-64.967282
1,Australia,7,2,4,1,1,1,0,2,5,-24.776109,134.755000
2,Azerbaijan,2,2,0,0,0,0,0,2,0,40.393629,47.787251
3,Bahamas,2,2,0,0,0,0,0,2,0,24.773655,-78.000055
4,Belgium,1,0,0,0,0,0,0,0,1,50.640281,4.666715
5,Belice,1,1,0,0,0,0,0,1,0,16.825979,-88.760093
6,Brazil,5,3,1,0,0,0,0,2,3,-10.333333,-53.200000
7,Canada,6,2,3,1,0,0,0,2,3,61.066692,-107.991707
8,Chile,2,1,1,0,0,0,0,1,1,-31.761336,-71.318770
9,China,6,3,1,2,1,1,0,1,5,35.000074,104.999927
10,Colombia,1,0,0,1,0,0,0,1,0,4.099917,-72.908813
11,Costa Rica,1,0,0,0,0,0,0,1,0,10.273563,-84.073910
12,Dominican Republic,1,0,0,1,0,0,0,0,1,19.097403,-70.302803
13,Egypt,2,1,1,0,0,0,0,0,2,26.254049,29.267547
14,England,1,0,0,1,0,0,0,1,0,52.531021,-1.264906
15,France,12,3,5,3,1,0,0,4,8,46.603354,1.888334
16,Georgia,1,1,0,0,0,0,0,1,0,32.329381,-83.113737
17,Germany,9,1,3,4,1,0,0,3,6,51.163818,10.447831
18,Guatemala,1,1,0,0,0,0,0,0,1,15.585555,-90.345759
19,Guyana,1,1,0,0,0,0,0,1,0,4.841710,-58.641689
20,Hong Kong,1,0,0,0,1,0,0,1,0,22.279328,114.162813
21,India,6,4,2,1,1,2,0,4,4,22.351115,78.667743
22,Indonesia,4,1,1,1,0,0,1,2,2,-2.483383,117.890285
23,Ireland,1,0,0,1,0,0,0,0,1,52.865196,-7.979460
24,Italy,6,1,2,3,0,0,0,1,5,42.638426,12.674297
25,Jamaica,3,3,0,0,0,0,0,3,1,18.185051,-77.394769
26,Japan,5,2,0,2,1,0,0,1,4,36.574844,139.239418
27,Kuwait,1,1,0,0,0,0,0,0,1,29.273396,47.497948
28,Luxembourg,2,2,0,0,0,0,0,2,0,49.815868,6.129675
29,Malaysia,1,0,0,0,0,0,0,1,0,4.569375,102.265682
30,Mexico,3,2,1,0,0,0,0,1,2,23.658512,-102.007710
31,Netherlands,3,1,1,1,0,0,0,2,1,52.243498,5.634323
32,New Zealand,2,1,1,1,0,1,0,1,2,-41.500083,172.834408
33,Nigeria,1,1,0,0,0,0,0,1,1,9.600036,7.999972
34,Philippines,3,0,0,2,0,0,0,2,1,12.750349,122.731210
35,Poland,1,1,0,0,0,0,0,0,1,52.215933,19.134422
36,Porto Rico,2,2,0,0,0,0,0,1,1,18.224771,-66.485829
37,Portugal,1,1,0,0,0,0,0,0,1,39.662165,-8.135352
38,Puerto Rico,1,0,0,1,0,0,0,0,1,18.224771,-66.485829
39,Qatar,1,1,0,0,0,0,0,0,1,25.333698,51.229529
40,Russia,1,1,0,0,0,0,0,1,0,64.686314,97.745306
41,Saudi Arabia,1,1,0,0,0,0,0,0,1,25.624262,42.352833
42,Singapore,2,0,0,1,0,0,0,1,1,1.357107,103.819499
43,South Africa,1,0,0,0,0,0,0,0,1,-28.816624,24.991639
44,South Korea,2,2,0,0,0,0,0,0,2,36.638392,127.696119
45,Spain,6,2,2,1,1,0,0,1,5,39.326068,-4.837979
46,Sweden,1,1,0,0,0,0,0,0,1,59.674971,14.520858
47,Thailand,2,1,2,0,0,1,0,2,1,14.897192,100.832730
48,Trinidad and Tobago,3,2,0,1,0,0,0,2,1,10.746690,-61.084007
49,United Arab Emirates,2,2,0,0,0,0,0,0,2,24.000249,53.999483
50,United Kingdom,9,2,2,5,0,0,0,1,8,54.702354,-3.276575
51,United States of America,45,21,14,11,1,2,0,14,31,39.783730,-100.445882
52,Uzbekistan,3,3,0,0,0,0,0,3,0,41.323730,63.952810
53,Vietnam,3,1,1,1,0,0,0,2,1,15.926666,107.965086

In [ ]:
import plotly.graph_objects as go

fig = px.scatter_mapbox(all_8, lat='latitude', lon='longitude', size='Projetos_Perdidos', hover_name = 'Deal - Location',
                        hover_data = ['B2C','B2B','Healthcare','Artificial Intelligence','B2B, B2C','Testing/Package Goods','Quantitative','Qualitative'],
                        color_continuous_scale='inferno', size_max=40,
                        mapbox_style='open-street-map', zoom=1)

fig.update_layout(margin={"r":0,"t":0,"l":0,"b":0})
fig.show()

In [ ]:
from __future__ import print_function
from ipywidgets import interact, interactive, fixed, interact_manual
import ipywidgets as widgets

In [ ]:
@interact(country=gro_sor['Deal - Location'])
def country(country):
  filtered = all_8[all_8['Deal - Location'].str.contains(country)]
  filtered = filtered.melt(id_vars='Deal - Location', value_vars=['B2C','B2B','Healthcare','Artificial Intelligence','B2B','B2C','Testing/Package Goods','Quantitative','Qualitative'], var_name='Project_Type')
  bar = px.bar(filtered, x='Project_Type', y='value',title=country)

  return bar

interactive(children=(Dropdown(description='country', options=('United States of America', 'France', 'Germany'…

In [ ]:
@interact(country=gro_sor['Deal - Location'])
def country(country):
  filtered = all_8[all_8['Deal - Location'].str.contains(country)]
  filtered = filtered.melt(id_vars='Deal - Location', value_vars=['B2C','B2B','Healthcare','Artificial Intelligence','B2B','B2C','Testing/Package Goods','Quantitative','Qualitative'], var_name='Project_Type')
  bar2 = px.bar(filtered, x='Project_Type', y='value',title=country)

  return bar2

# Metodologia

In [ ]:
# Agrupando e contando o número de projetos perdidos por metodologia.

grouped_2 = new_df.groupby("Deal - Methodology")["Deal - Title"].count().reset_index()

In [ ]:
grouped_2.sort_values('Deal - Title', ascending=False)

In [ ]:
# Agrupando e contando o número de projetos perdidos por tipo de pesquisa (quant ou qual).

grouped_3 = new_df.groupby("Deal - Research Type")["Deal - Title"].count().reset_index()
grouped_3.sort_values('Deal - Title', ascending=False)

        Deal - Research Type  Deal - Title
0                Qualitative           113
2               Quantitative            66
1  Qualitative, Quantitative             9

In [ ]:
# Agrupando e contando o número de projetos perdidos por Indústria.

grouped_4 = new_df.groupby("Deal - Industry")["Deal - Title"].count().reset_index()
grouped_4.sort_values('Deal - Title', ascending=False)

           Deal - Industry  Deal - Title
3                      B2C            80
4               Healthcare            47
1                      B2B            46
0  Artificial Intelligence             9
2                 B2B, B2C             8
5    Testing/Package Goods             1